@import "variables";

.loaderWrapper {
	min-height: 200px;
	min-width: 200px;
	position: relative;
	.loaderBlock {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		.loadingSpinner {
			width: 4rem;
			height: 4rem;
			display: inline-block;
			border: 3px solid #c4c8cc;
			border-radius: 50%;
			border-top-color: $subcolor;
			animation: spin 1s infinite ease-in-out;
		}
		@keyframes spin {
			to {
				transform: rotate(360deg);
			}
		}
	}
}
