.wrapper {
	width: 100%;
	padding: 70px 0;
	.container {
		max-width: 1200px;
		margin: 0 auto;
		@media (max-width: 1320px) {
			max-width: 940px;
		}
		@media (max-width: 1050px) {
			max-width: 750px;
		}
		@media (max-width: 850px) {
			padding: 0 20px 0 60px;
		}
		@media (max-width: 481px) {
			padding: 0 20px 0 40px;
		}
		.story-list {
			display: flex;
			flex-direction: column;
			position: relative;
			border-left: 2px solid #dedede;
			&::before {
				content: "HN";
				position: absolute;
				background-color: #212121;
				color: white;
				border-radius: 50%;
				padding: 7px;
				left: -26px;
				top: -25px;
				font-size: 25px;
				font-family: "Philosopher", sans-serif;
				font-weight: 700;
				box-shadow: 0px 0px 13px 1px rgba(0, 0, 0, 0.75);
				@media (max-width: 481px) {
					left: -22px;
					font-size: 20px;
				}
			}
			.refresh {
				position: absolute;
				right: -15px;
				top: -18px;
				border: 1px solid #212121;
				border-radius: 5px;
				padding: 10px 20px;
				// font-family: "Philosopher", sans-serif;
				font-size: 18px;
				font-weight: 600;
				background-color: transparent;
				outline: none;
				cursor: pointer;
				transition: 0.1s linear;
				@media (max-width: 1050px) {
					font-size: 14px;
				}
				@media (max-width: 850px) {
					right: 0;
				}
				@media (max-width: 481px) {
					top: -23px;
				}
				&:hover {
					background-color: #212121;
					color: white;
					box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
				}
			}
			.story {
				padding: 40px 0;
				padding-left: 120px;
				position: relative;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				align-items: flex-start;
				border-bottom: 2px solid #dedede;
				min-height: 260px;
				@media (max-width: 1050px) {
					padding-left: 80px;
					min-height: 200px;
				}
				@media (max-width: 768px) {
					padding-left: 50px;
				}
				@media (max-width: 481px) {
					padding: 20px 0;
					padding-left: 20px;
					min-height: 170px;
				}
				&:first-child {
					margin-top: 50px;
					@media (max-width: 481px) {
						margin-top: 30px;
					}
				}
				.story__title {
					outline: none;
					font-size: 35px;
					font-weight: 700;
					line-height: 45px;
					cursor: pointer;
					color: #212121;
					text-decoration: none;
					@media (min-width: 768px) {
						&:hover {
							color: transparent;
							-webkit-text-stroke: 2px black;
						}
						@supports not (-webkit-text-stroke: 2px red) {
							&:hover {
								text-shadow: 3px 3px 0 #212121, -1px -1px 0 #212121, 1px -1px 0 #212121, -1px 1px 0 #212121,
									1px 1px 0 #212121;
							}
						}
					}
					@media (max-width: 1050px) {
						font-size: 20px;
						line-height: 30px;
					}
					@media (max-width: 768px) {
						font-size: 16px;
						line-height: 22px;
					}
					// @media (max-width: 481px) {
					// 	font-size: 14px;
					// }
				}

				&__info {
					width: 100%;
					display: flex;
					justify-content: space-between;
					color: #212121;
					@media (max-width: 481px) {
						flex-direction: column;
					}
					.story__attr {
						font-weight: 600;
						font-size: 18px;
						@media (max-width: 1050px) {
							font-size: 15px;
						}
						span {
							margin-right: 5px;
							font-weight: 300;
							font-size: 16px;
							@media (max-width: 1050px) {
								font-size: 13px;
							}
						}
					}
				}
				&__date {
					position: absolute;
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					top: calc(50%);
					transform: translateY(-50%);
					left: -50px;
					background-color: #f8f8f8;
					padding: 5px 0;
					@media (max-width: 1050px) {
						left: -39px;
					}
					@media (max-width: 481px) {
						position: static;
						flex-direction: row;
						margin-top: 10px;
						padding: 0;
					}
					.first-date {
						font-size: 15px;
						font-weight: 700;
						@media (max-width: 1050px) {
							font-size: 12px;
						}
						@media (max-width: 1050px) {
							font-size: 10px;
						}
						@media (max-width: 481px) {
							margin-right: 10px;
						}
					}
					.second-date {
						font-weight: 300;
						font-size: 13px;
						@media (max-width: 481px) {
							font-size: 12px;
						}
						@media (max-width: 481px) {
							font-size: 10px;
						}
					}
				}
			}
		}
	}
	@media (max-width: 481px) {
		padding: 50px 0;
	}
}
